<!DOCTYPE html>
<html lang="en-us">
<head>

	<meta charset="UTF-8">
	<meta name=“viewport” content=“width=device-width, initial-scale=1”>
	<title>BURGERZ.</title>

	<link href="assets/css/reset.css" type="text/css" rel="stylesheet">
	<link href="assets/css/burger_style.css" type="text/css" rel="stylesheet">

</head>
	
<body>

	{{{ body }}}
	
</body>

</html>
